@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-input-affix-wrapper .ant-input-clear-icon,
.ant-select .ant-select-clear {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.ant-input-search .anticon-search {
  display: flex;
  justify-content: center;
}